ul {
  list-style-type: none;
}
li {
  margin: 10px;
}

a:link.program_link, a:visited.program_link {
  background-color: #C4820F;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

a:hover.program_link, a:active.program_link {
  background-color: #FFDF00;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.search {
    width: 50%;
    margin: 10px;
}
